<div class="container-fluid">
	<img src="assets/images/footer.jpg" alt="">
</div>
<div class="apps_col">
    <div class="footer_wideget">
	    <h2 class="footer_title">About Us</h2> 
		<ul class="apps_footer_nav_list">
			<li ><a href="/home" target="_self">Home</a></li>
			<li ><a href="/aboutus" target="_self">About us</a></li> 
			<li ><a href="/faq" target="_self">FAQ</a></li>  
			<li ><a href="/contactus" target="_self">Contact Us</a></li>
		</ul>
	</div>
</div>
<div class="apps_col">
	<div class="footer_wideget">
    	<h3 class="footer_title">Customer Service</h3> 
		<ul class="apps_footer_nav_list">
			<li><a href="/terms-and-condition" target="_self">Terms and Conditions</a></li>
			<li><a href="/privacy-policy" target="_self">Privacy and Policy</a></li> 
			<li><a href="#" target="_self">Online payment  terms</a></li> 
			<li><a href="#" target="_self">RTO Forms Download</a></li>
		</ul>
	</div>
</div>
<div class="apps_col">
	<div class="footer_wideget"><h3 class="footer_title">Transport Services</h3> 
	<ul class="apps_footer_nav_list">
		<li ><a href="#" target="_self">Transport Services</a></li> 
		<li ><a href="" target="_self">Logistics Services</a></li> 
		<li ><a href="" target="_self">Express Cargo Services</a></li> 
		<li ><a href="" target="_self">Full Truck Load</a></li> 
		<li ><a href="" target="_self">Part Load Booking</a></li>
	</ul>
	</div>
</div>
<div class="apps_col">
	<div class="footer_wideget"><h2 class="footer_title">Address</h2> 
        <div class="footer_content footer_gap">
            <p>Delhi HQ: Concor building , Inland container depot ,Tughlakabad ,new delhi-110044</p> 
        </div> 
	     
        <div class="footer_content ">
            <br>Ph.- Dummy Number
            <p>Email:<br><a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRlQzBSGmFJwFLhDMxpNlxqtRLQZvpqlFNNXpgXBhPBhhPPhsSjWcJhjSVSGqjKXFCRNqHV">sharmaroadlines01@gmail.com</a></p>
        </div>
    </div>
</div>
<div class="container-fluid copyright">
	<h6>&copy; Sharma Roadlines| All rights reserved . Designed by Abhishek Sharma </h6>
</div>