    <div class="container-fluid banner">
        <div class="banner-content">
            <h4>About Us</h4>
            <h1>Our commitment to<br> excellence powers<br> our growth</h1>
        </div>
    </div>
    <div class="container-fluid m-0 p-0">
        <img src="assets/images/ok.jpg" alt="border">
    </div>

    <div class="container-fluid text-center welcome-section">
        <h1>Welcome to Sharma Roadlines</h1>
        <p>Sharma roadlines was found in 1998 with customer-centricity , operational excellence and transparency fuelling its core. Today,we are the priority partner for india's supply chain ,Our clients count on us to efficiently manage theit end-to-end logistics operations and reduce the effective landed cot of products</p>
    </div>
    
    <div class="container leadership-card">
        <h1>Leadership</h1>
        <div class="row">
            <div class="col-lg-5 my-5">
                <img src="assets/images/pp.jpg" alt="Mr. Umesh sharma">
            </div>
            <div class="col-lg-5 ml-2">
                <h2>Umesh sharma</h2>
                <h5>Founder & Chairman</h5>
                <p>Mr Umesh Sharma is a visionary businessman, a seasoned entrepreneur and an inspiring leader.
                    With 30+ years of experience in managing  fleet operations, he has played a key role in developing
                    some of the best fleet transport practices  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 ml-2">
                <h2>Abhishek Sharma</h2>
                <h5>Supervisor</h5>
                <p>Mr Abhishek sharma has been pivotal in ushering transparent and fair business practices in the industry. Under his remarkable supervision, Sharma Roadlines has delivered superior service to its clients while fostering customer-centricity and a DNA of operational excellence. </p>
            </div>
            <div class="col-lg-5 ">
                <img id="abhishek" src="assets/images/abhi.jpg" alt="Mr. Abhishek Sharma"> 
            </div>
        </div>
    </div>
<div class="our-journey">
    <div class="container experience-card">
        <div class="row">
            <div class="col-lg-6">
                <h1>Our journey</h1>
                <h2>Becoming one the transporter,who can give their word on best quality logistics service provider</h2>
            </div>
            <div class="col-lg-6">
               <p> Our unswerving commitment to our foundational principles - staying transparent, agile & ethical with our clients - has played an instrumental
                role in our growth.</p>
            </div>
        </div>
        <img src="assets/images/ok.jpg" alt="border">      
    </div>
   
</div>
<app-footer></app-footer>
