<app-banner></app-banner>
<div class="container">    
    <div class="second-banner ">
        <ul class="list-group justify-content-center list-group-horizontal-lg">
            <li class="list-group-item">
                <img src="assets/images/star.jpg" alt="star" height = 40px width = 50px>
                 10000+ clients<br><span><strong>4.8</strong>/5</span>
            </li >
            <li class="list-group-item">
                <img src="assets/images/serviceIcon_01.png" alt="service guarentee"><br>
                Service guarantee
            </li>
            <li class="list-group-item">
                <img src="assets/images/serviceIcon_02.png" alt="service guarentee"><br>
                Live Tracking & 24/7 Support
            </li>
            <li class="list-group-item">
                <img src="assets/images/serviceIcon_03.png" alt="service guarentee"><br>
                HDFC insaurance coverage
            </li>
        </ul>
    </div>
</div> 
<div class="container-fluid p-25 bg-light justify-content-center">
    <div class="row">
        <div class="col-lg-12 text-center mt-5 mb-5">
            <h1>Transportation and Cargo services</h1>
            <p>Sharma Road Lines is India's pioneer web and app based online Transport Booking platform that connects users to Hire a Truck with a network of thousands Truck drivers for Quick and Prompt Goods Delivery Option</p>
            <img src="assets/images/first.jpg" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <img src="assets/images/how it works.png" alt="">
</div>
<div class="container-fluid ">
    <img src="assets/images/srlapp.png" alt="">
</div>
<div class="container third-banner">
    <h2>Trusted By Thousands Of Our Client</h2>
    <h6>An all in one Transport Solution for all your Shipping needs </h6>
    <a class="btn" href="/register">Register for Free</a>
    <p>Need Help? <a href="/contactus">Get in Touch</a> with us or call on 9212530219</p>
</div>
<app-footer></app-footer>