.second-banner li{
    text-align: center;
    height: 150px;
    width: 300px;
    padding-top: 30px;
}
.second-banner span{
    margin-top: 10px;
    margin-left:-105px ;
}
@media (max-width: 1000px) {
    .second-banner li{
        width: auto;
    }
}
.third-banner{
    text-align: center;
}
.btn{
    background-color: rgb(3, 3, 133);
    color: white;
    padding:12px 40px;
    border-radius: 25px;
    margin: 15px 0;
    outline:inset 0 0 0 0;
}
.btn:focus{
    border: 1px solid rgb(3, 3, 133);
    background-color: white;
    color:rgb(3, 3, 133) ;
}
.container-fluid img{
    width: inherit;
}